[submodule "AIS/TPWUtils"]
	path = AIS/TPWUtils
	url = git@github.com:mousebrains/TPWUtils.git
[submodule "SSHTunnel/TPWUtils"]
	path = SSHTunnel/TPWUtils
	url = git@github.com:mousebrains/TPWUtils.git
[submodule "Isobaths"]
	path = Isobaths
	url = git@github.com:mousebrains/Isobaths.git
[submodule "DongKo/TPWUtils"]
	path = DongKo/TPWUtils
	url = git@github.com:mousebrains/TPWUtils.git
