#
# Fetch new information for the OSU gliders
#
# N.B. This has two components, OSUharvester.service and OSUharvester.timer
#
# sudo cp OSUharvester.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable OSUharvester.timer OSUharvester.service
# sudo systemctl start OSUharvester.timer
#
# July-2023, Pat Welch, pat@mousebrains.com

[Unit]
Description=OSU Glider data harvester

[Service]
# Launced by timer
Type=oneshot

User=pat
Group=pat

WorkingDirectory=/home/pat/ARCTERX/OSUdataHarvest
#
ExecStart=/home/pat/ARCTERX/OSUdataHarvest/syncit.py \
	--logfile=/home/pat/logs/OSUharvest.log \
	--mailTo="pat@mousebrains.com" \
	--mailSubject="OSUharvest" \
	--verbose
        
[Install]
WantedBy=multi-user.target

