#
# Comprss MET data for sending to shore
#
# N.B. This has two components, METcompress.service and METcompress.timer
#
# sudo cp METcompress.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable METcompress.timer METcompress.service
# sudo systemctl start METcompress.timer
#
# To view the timers:
# 
# sudo systemctl list-timers METcompress
# 
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Compress MET files for sending to shore

[Timer]
# dayOfWeek Year-Month-Day Hour:Minute:Second
# Push compressed MET data once an hour
OnCalendar=*-*-* *:3
Persistent=true

[Install]
WantedBy=timers.target

