#
# Save CSV information into the glider database
#
# sudo cp Glider_csv2DB.service /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable Glider_csv2DB.service
# sudo systemctl start Glider_csv2DB.service
#
# Apr-2023, Pat Welch, pat@mousebrains.com

[Unit]
Description=Glider CSV to DB

[Service]
# Launced by timer
User=pat
WorkingDirectory=/home/pat/ARCTERX/Gliders
#
ExecStart=/home/pat/ARCTERX/Gliders/csv2DB.py \
	--logfile=/home/pat/logs/Glider.csv2DB.log \
	--verbose

Restart=always
RestartSec=60
        
[Install]
WantedBy=multi-user.target
