#
# From ship's CSV file extract lat/lon/speed/heading
# and save into database and a CSV file
#
# sudo cp Ship2DB.service /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable Ship2DB.service
# sudo systemctl start Ship2DB.service
#
# Apr-2023, Pat Welch, pat@mousebrains.com

[Unit]
Description=Ship's CSV to DB

[Service]
# Launced by timer
User=pat
WorkingDirectory=/home/pat/ARCTERX/Ship
#
ExecStart=/home/pat/ARCTERX/Ship/ship2DB.py \
	--ship=~/ship.csv \
	--id=Thompson \
	--delay=60 \
	--logfile=/home/pat/logs/Ship2DB.log \
	--verbose

Restart=always
RestartSec=60
        
[Install]
WantedBy=multi-user.target
