#
# Listen for datagrams containing NEMA sentences with AIS payloads.
# Decrypt the payloads and send them to consumers.
#
# sudo cp AIS.service /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable AIS.service
# sudo systemctl start AIS.service
#
# May-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Collect AIS datagrams

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat/logs
#
ExecStart=/home/pat/ARCTERX/AIS/receiver.py \
    --logfile=AIS.log \
    --r2dbSQLite3=ais.raw.db \
    --ais2dbSQLite3=ais.db \
    --inputUDP=8982 \
    --verbose
	
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
